.valid-feedback {
  color: rgb(145, 255, 142); /* Change the color to green for valid feedback */
}

.invalid-feedback {
  color: rgb(255, 142, 255); /* Change the color to red for invalid feedback */
}
@import url('https://fonts.googleapis.com/css?family=Pixelify%20Sans:700|Pixelify%20Sans:400');

body {
  font-family: 'Times New Roman', serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Times New Roman', serif;
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

i {font-size: 3rem;}

/*Colors*/
:root{
  --text: #1971c2;
--background: #e9ecef;
--primary: #a5d8ff;
--secondary: #ffec99;
--accent: #2eb5ef;
--bs-border-color:var(--text);
--bs-dropdown-min-width: 100vh;
}

/*Styles*/
body{
  background-color: var(--background);
  overflow-y:auto;
  overflow-x: hidden;
}

a, p, h1, h2, h3, h4, h5, h6, i{
  color: var(--text);
}

main{
  height: 90vh;
}

section{
  height: 75%;
}

.items{
  width:150px;
  height: 150px;
}

.items-c{
  width:200px;
}

.home{
  background-color: #b2f2bb;
}

.about-home2{
  background-color: #b2f2bb;
}

.projects-home3{
  background-color: #b2f2bb;
}

.header-li{
  background-color: var(--secondary);
}

.drop-li{
  list-style:none;
}

a:hover{
  background-color: var(--accent);
}

.texts-bg{
  background-color: var(--background);
}

button{ 
  height: 30px;
}

.btn-ext{
  width: 145px;
}

.logo{
  font-size: 25px;
}

.no-click{
  pointer-events: none;
}

.dropdown-menu {
  background-color: var(--secondary) !important;
  width: 100vw !important;
  padding: 2rem !important;
}

.dropdown-item {
  color: var(--text) !important;
  font-size: 1.5rem !important;
  padding: 1rem 2rem !important;
  border-bottom: 2px solid !important;
  text-align: center;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--primary) !important;
}

/*Media Query*/
@media screen and (max-width:639px) {
  .home-h1{
    font-size: 2.369rem;
  }
  .home-p{
    font-size:1.750rem;
  }
}

@media (max-width: 850px) {
  .header-ul {
    display: none;
  }
  .dropdown-nav {
    display: block;
  }
  .proyect-h1{
    font-size: 1.777rem;
  }
}

@media (min-width: 851px) {
  .header-ul {
    display: flex !important;
  }
  .dropdown-nav {
    display: none;
  }
}

@media screen and (max-width:460px) {
  .about-h1{
    font-size: 2.369rem;
}
}

@media screen and (max-width:450px) {
  .home{
    width:100%;
  }
  .about-home2{
    width: 100%;
}
}

@media screen and (max-width:391px) {
  .home-h1{
    font-size: 1.333rem;
  }
  .home-p{
    font-size:0.750rem;
  }
  .skills-h1{
    font-size: 1.333rem;
  }
  .proyect-h1{
    font-size:1rem;
  }
}

@media screen and (max-width:290px) {
  .about-h1{
    font-size: 1.500rem;
}
.proyect-h1{
  font-size: 0.750rem;
}
}